<ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine"
    [rowData]="rowData"
    [serverSideDatasource]="serverSideDatasource"
    [columnDefs]="columnDefs"
    [rowModelType]="rowModelType"
    [modules]="modules"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [cacheBlockSize]="cacheBlockSize"
    [sideBar]="sideBar" >
</ag-grid-angular>

<button (click)="saveProfile()">Save profile</button>
<button (click)="newProfile()">New profile</button>

<form>
    <input name="name" type="text" [(ngModel)]="profileName" maxlength="30" />
    <select name="profileList" [(ngModel)]="currentProfile" (ngModelChange)="profileSelected($event)" [compareWith]="comparator">
        <option *ngFor="let profil of profils" [ngValue]="profil">{{ profil.name }}</option>
    </select>
</form>

<router-outlet></router-outlet>
